<% include ./partials/boilerplate %>


<h1>Welcome to ToDo's</h1>
<h3>Your personal todo list tracker</h3>
<div class='options'>
    <a href="/auth/login"><button class='register'>Login</button></a>
    <a href="/auth/register"><button class='register'>Register</button></a>
</div>

<img class='hero' src="../images/hero.jpg" alt="">

<% include ./partials/end %>